
<form method="post">
    <div class="row col-sm-12 offset-5">
        <button type="submit" class="btn btn-success col-sm-1  btn-sm my-2 mx-1" id="search-button" asp-action="GenerateCsvReports">GenerateCsv</button>
    </div>
</form>