<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeRegistration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>      
    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/jquery.blockUI.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>       
        $(document).on({
            ajaxStart: function () {
                blockUI();
            },
            ajaxStop: function () {
                //added delay to see the loader as ssd system is giving response 
                //quickly
                setTimeout(
                    function () {
                        //do something special
                        $.unblockUI();
                    }, 150);
             /*$.unblockUI();*/
            }
        });
    </script>
</body>
</html>
